.password-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-input-wrapper input {
    padding-right: 38px;
}

.password-toggle-button {
    position: absolute;
    right: 20px;
    top: 18px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 1;
}
