.App {
  font-family: Inter;
  text-align: center;
  height: 100vh;
  background: linear-gradient(167.96deg, #F4F9FF 0%, #E0EDFB 100%);
  position: relative;
}

.form-container {
  display: flex;
  justify-content: center;
  padding: 138px 30px 0px 30px;
  position: relative;
  z-index: 2;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/public/stars.png') no-repeat center center;
  background-size: auto;
  pointer-events: none;
  z-index: 1;
}

/* Need tnat to fix input autofill when user will use autofill option*/
input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px #fff inset;
  -webkit-text-fill-color: #000;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px #fff inset;
  -webkit-text-fill-color: #000;
} 